
/*    ヘッダー    */
.header_container {
    bottom:1vh;
    padding: 10px;
    /* display: flex; */
    position:fixed;
    width:25vw;
    height: 90vh;
    display: flex;
    justify-content:center;
}
.header_body{
    bottom:5vh;
    position:fixed;
    width:20vw;  
    z-index: 1;
}

.home_header_contents{
    display: flex;
    justify-content:center;
}
.header_link{
    text-decoration: none;
    color:black;
}
.header_profile{
    display: flex;
    justify-content:center;
    border-radius:60px;
    height: 90px; 
}
.home_header_avater{
    margin-top: 10px;
    margin-left: 8px; 
}
.header_nickname{
    margin-top: 15px;
}
.nickname_p{
    font-size: 20px;
    font-weight: 900;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.home_avatar{
    height: 50px;
    width:50px;
}
.header_new_plan_btn{
    background-color: honeydew;
}

/* ホーム */
.home_container{
    display: flex;
    justify-content: center;
}
.home_body{
    width: 480px;
}
.home_title{
    border:solid 1px rgba(0,0,0,0.1);
    width:478px;
    height: 40px;
    /* position: relative; */
    position: fixed;
    background-color: white;
    z-index: 1;
}
.title_h2{
    margin-top: 3px;
    text-align: left;
    margin-left: 10px;
}

.home_newplan{
    margin-top: -2px;
    margin-left: -120px;
    margin-bottom: 10px;
}

.homr_btnprofile {
    background-color: transparent;
    color: white;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
.homr_btnprofile:hover{
    opacity: 0.7;
}

.body_container{
    display: flex;
    justify-content: center;
}
.user{
    margin-left: 10px;
}
/* プラン */
/* .plan_body{
    display: flex;
    justify-content: center;
} */
/* 検索 */
.search_container{
    display: flex;
    justify-content: center;
}
.search_body{
    width:500px;
    border:solid 1px rgba(0,0,0,0.1);
    position: relative;
}
.search_title{
    display: flex;
}
.search_title_icon{
    margin-top: 7px;
    margin-left: 7px;
}
.search_title_title{
    margin-left: 5px;
    margin-top: -14px;
}
.search_textfield_body{
    width: 300px;
    margin-left: 100px;
}
.search_prefecture{
    display: flex;
}
.search_prefecture_p{
    border-bottom: solid 1px rgba(0,0,0,0.1);
    width: 80px;
}
/* 新規プラン */
.newplan_modal_container{
    width: 100%;
}

.newplan_modal_prefecture_menu{
    display: flex;
}
.newplan_modal_img_container{
    display: flex;
    margin-top: 10px;
}
.newplan_modal_img{
    width: 250px;
    height: 90px;
    text-align: center;
}
.newplan_modal_btn{
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 900px) {
	.header_container {
        width:70px;
        height: 90vh;
        margin-left: 10px;
    }
    .header_body{
        width:70px; 
        position: fixed;
        z-index: 1; 
    }
    .header_p{
        display: none;
    }
    .home_header_contents{
        display: flex;
        justify-content:center;
    }
    .header_link{
        text-decoration: none;
        color:black;
    }
    .header_profile{
        display: flex;
        justify-content:center;
        border-radius:60px;
        height: 90px; 
    }
    .nickname_p{
        display: none;
    }
}
@media screen and (max-width: 680px) {
	.header_container {
        top:0;
        width: 100%;
        height: 20px;
        margin-left: 10px;
        background-color: white;
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 6;
    }
    .header_body{
        top: 0;
        height: 40px;
        width: 500px;
        position: fixed;
        z-index: 6;
        margin-left: -20px;
    }
    .header_contents_container{
        background-color: white;
        width: 300px;
        display: flex;
        justify-content:space-evenly;
    }
    
    .header_link{
        text-decoration: none;
        color:black;
    }
    .header_profile{
        display: flex;
        justify-content:center;
        border-radius:60px;
        height: 90px; 
    }
     .home_title{
        margin-top: 40px;
    } 
    .search_container{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    } 
    .header_profile{
        display: none;
    }
    .header_profile_min{
        width: 40px;
        height: 40px;
        margin-left: 420px;
        margin-top: -52px;
    }
    .header_nickname_min{
        margin-left: -40px;
        margin-top: -30px;
    }
    .nickname_p_min{
        font-size: 8px;
        max-width: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .timeline_min{
        margin-top: 40px;
    }
    .searchresult_min{
        margin-top: 40px;
    }
}