
/*    ヘッダー    */

.home_header {
    bottom:1vh;
    padding: 10px;
    /* display: flex; */
    z-index: 1;
    position:fixed;
    width:20%;
    height: 90vh;
    margin-left: 5%; 
}
.header_top{
    bottom:5vh;
    position:fixed;
    width:20%;  
}
.header_contents_container{
    width:100%;
    margin-top: 5px;
    margin-left: 15px;
}
.home_header_contents{
    width:40%;
    border-radius: 10px;
    display: flex;
    justify-content:left;
}
.header_link{
    text-decoration: none;
    color:black;
}
.header_con{
    width: 100%;
}
.header_contents_container:hover .home_header_contents{
    border-color: crimson;
    border:solid 1px;
    border-radius: 20px;
    opacity: 0.9;
}
.home_header_profile{
    display: flex;
    border-radius:60px;
    height: 90px;  
}
.home_header_avater{
    margin-top: 10px;
    margin-left: 8px; 
}
.header_nickname{
    margin-top: 15px;
}
.nickname_p{
    font-size: 20px;
    font-weight: 900;
}
.home_avatar{
    height: 50px;
    width:50px;
}

/* ページタイトル */
.home_title{
    border:solid 1px rgba(0,0,0,0.1);
    width:500px;
    height: 40px;
    /* position: relative; */
    margin-bottom: 10px;
    position: fixed;
    background-color: white;
    z-index: 1;
    left:50%;
    margin-left: -275px;
    
}
.title_h2{
    margin-top: 3px;
    position: absolute;
    left: 0;
    margin-left: 10px;
}

.home_newplan{
    margin-top: -2px;
    margin-left: -120px;
    margin-bottom: 10px;
}

.homr_btnprofile {
    background-color: transparent;
    color: white;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
.homr_btnprofile:hover{
    opacity: 0.7;
}

.body_container{
    display: flex;
    justify-content: center;

}

.user{
    margin-left: 10px;
    
}




/* プラン */
.plan_body{
    display: flex;
    justify-content: center;
}
/* 検索 */
.search_container{
    display: flex;
    justify-content: center;
}
.search_body{
    width:500px;
    border:solid 1px rgba(0,0,0,0.1);
    position: relative;
    left: -24px;
}
/* 新規プラン */
.newplan_modal_container{
    width: 100%;
}

.newplan_modal_prefecture_menu{
    display: flex;
}
.newplan_modal_img_container{
    display: flex;
    margin-top: 10px;
}
.newplan_modal_img{
    width: 250px;
    height: 90px;
    text-align: center;
}
.newplan_modal_btn{
    margin-top: 10px;
    text-align: center;
}