.home_title{
    border:solid 1px rgba(0,0,0,0.1);
    width:500px;
    height: 40px;
    /* position: relative; */
    margin-bottom: 10px;
    position: fixed;
    background-color: white;
    z-index: 1;
    left:50%;
    margin-left: -275px;
}
.notification_link{
    text-decoration: none;
    color:black;
}
.title_h2{
    margin-top: 3px;
    position: absolute;
    left: 0;
    margin-left: 10px;
}
.notification_detail_container{
    display: flex;
    justify-content: center;
    margin-bottom: -4px; 
}
.notification_body{
    width: 500px;
    height: 70px;
    border:solid 1px rgba(0,0,0,0.1);
    /* position: relative; */
    margin-left: -48px;
}
.notification_profile_icon{
    width: 70px;
    margin-top: 10px;
}
.notification_text{
    width: 430px;
    margin-left: 70px;
    margin-top:-76px;
    height: 100%;
    display: flex;
}
.notification_text_text{
    margin-top: 24px;
}
.notification_text_p{
    margin-top: 40px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.notification_text_comment{
    margin-top: 24px;
}