.auth_login_container{
    height: 100%;
    position: fixed;
    width: 100vw;
}
.auth_login_body{
    display: flex;
    justify-content: center;
    background-color:white;
    height: 100%;
}
.auth_login_body_left{
    background-image: url(./3883536_m.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 60vw;
}
.auth_app_name{
    margin-left: 50px;
}
.app_name_h1{
    color: white;
    text-shadow:3px 0 0 black,
    0 3px 0 black,
    -3px 0 0 black,
    0 -3px 0 black;
}
.auth_login_body_right{
    width:40vw;
}
.auth_app_name_min{
    display:none;
}
.auth_login_main_container{
    height: 100vh;
    text-align: center;
}
.auth_login_main_top{
    height: 20%;
    width: 100%;
    margin-top: 70px;
}
.auth_login_main_bottom{
    height:20%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.auth_login_title{
    width: 100%;
}
.auth_login_error{
    margin-top: 2px;
    width: 400px;
}
.auth_login_btn{
    margin-top: 50px;
    margin-left: 0px;
}
.auth_login_span{
    margin-top: 20px;
    margin-left: 10px;
}
.auth_login_p{
    font-size: 20px;
}
@media screen and (max-width: 860px) {
	.auth_login_body_left{
        font-display: none;
        width: 0vw;
    }
    .auth_login_body_right{
        width: 100vh;
    }
    .auth_app_name{
        display: none;
    }
    .auth_app_name_min{
        display: flex;
        margin-bottom: -70px;
    }
}