/* フォローボタン等 */
.follow_follow_num_btn{
    margin-top: 20px;
}
.follow_btn{
    margin-top: 10px;
    margin-left: 100px;
}
.relationship_num{
    display: flex;
}
.relationship_p{
    margin-left: 5px;
}
/* フォロー・フォロワーカード */
.followcard_container{
    display: flex;
    border:solid 1px rgba(0,0,0,0.1);
}
.followcard_left{
    width: 60px;
}
.followcard_avatar_btn{
    background-color: transparent;
    border: none;
}
.followcard_right{
    margin-top: 3px;
}
.followcard_text_p{
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    margin-top: -1px;
}
/* フォロー・フォロワーモーダル */
.relationship_follow_switch_btn_container{
    display: flex;
}
.relationship_follow_switch_btn{
    width: 50%;
    text-align: center;
}
.relationship_switch_btn{
    background-color: transparent;
    outline: none;
    border: none;
    width: 100%;
}

.follow_selected{
    border-bottom:solid ;
}