
/* プラン詳細 */
.plandetail_title{
    border:solid 1px rgba(0,0,0,0.1);
    width:500px;
    height: 40px;
    /* position: relative; */
    margin-bottom: 10px;
    position: fixed;
    background-color: white;
    z-index: 1;
    left:50%;
    margin-left: -275px;
}

.title_h2{
    margin-top: 3px;
    position: absolute;
    left: 0;
    margin-left: 10px;
}
/* プラン表示部分 */
.plan_detail_container{
    display: flex;
    justify-content: center;
    margin-bottom: -4px;   
}
.plan_body{
    width: 500px;
    border:solid 1px rgba(0,0,0,0.1);
    position: relative;
    left: -24px;
}

.plan_link{
    text-decoration: none;
    color:black;
}
.plan_profile{
    display: flex;
    margin-top: 5px;
    margin-left: 1%;
}
.plan_profile_nickname{
    text-align: left;
    margin-left: 1%;
}
.plan_title{
    margin-top: -15px;
    width: 100%;
    margin-left:7% ; 
}
.plan_h2{
    max-width: 400px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.plan_description{
    margin-top: -30px;
    text-align: left;
    margin-left: 15%;
}
.plan_description_p{
    margin-top: -10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 400px;
}
.plan_btnprofile {
    background-color: transparent;
    color: white;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
.plan_body:hover{
    opacity: 0.9;
}
.plan_btn{
    background-color: transparent;
    border: none;
    width: 100%;
    text-decoration: none;
    color:black;
}
.plan_btn:hover{
    opacity: 0.7;
}
.plan_prefecture_div{
    text-align: right;
    margin-right: 2%;
}
.plan_prefecture{
    font-size: 14px;
    color: blue;
}

/* 画像 */
.plan_img {
    width: 400px;
    height: 200px;
    object-fit: cover; 
    border:solid 1px rgba(0,0,0,0.1);
    border-radius: 20px;
  }

.plan_image_module{
    width: 100%;
    height: 100%;
}

/* モーダル */
.image_modal{
    display: flex;
    justify-content: center; 
    
}

.image_modal_image{
    display: flex;
    justify-content: center;
    
}