.plan_detail_container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.plan_body{
    width: 50%;
    border:solid;
}
.plan_btnprofile {
    background-color: transparent;
    color: white;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
.plan_btnprofile:hover{
    opacity: 0.7;
}
.plan_btn{
    background-color: transparent;
   border: none;
   width: 100%;
}
.plan_btn:hover{
    opacity: 0.7;
}