
/* プラン詳細 */
.plandetail_title{
    border:solid 1px rgba(0,0,0,0.1);
    width:500px;
    height: 40px;
    margin-bottom: 10px;
    position: fixed;
    z-index: 1;
    left:50%;
    margin-left: -275px;
}
.title_h2{
    margin-top: 3px;
    position: absolute;
    left: 0;
    margin-left: 10px;
}
/* プラン表示部分 */
.plan_detail_container{
    display: flex;
    justify-content: center;
}
.plan_detail_body{
    width: 480px;
}
.plan_detail_title{
    border:solid 1px rgba(0,0,0,0.1);
    width:478px;
    height: 40px;
    position: fixed;
    background-color: white;
    z-index: 1;
}
.plan_detail_container2{
    display: flex;
    justify-content: center;
    margin-bottom: -4px;
      
}
.plan_body{
    width: 480px;
    border:solid 1px rgba(0,0,0,0.1);
    position: relative;
}
.plan_body_top{
    display: flex;
}
.plan_body_left{
    width:80%;
}
.plan_body_right{
    width:20%;
}
.plan_link{
    text-decoration: none;
    color:black;
}
.plan_profile{
    display: flex;
    margin-top: 5px;
    margin-left: 1%;
}
.plan_profile_nickname{
    text-align: left;
    margin-left: 1%;
}
.plan_title_list{
    margin-top: -13px;
    width: 100%;
    margin-left:3px;
    margin-bottom: -25px; 
}
.plan_title{
    margin-top: -13px;
    width: 100%;
    margin-left:3px; 
}
.plan_h2{
    max-width: 380px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.plan_description{
    margin-top: -30px;
    text-align: left;
    margin-left: 15%;
}
.plan_description_p{
    margin-top: -10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 380px;
}
.plandetail_description_p{
    margin-top: -10px;
    font-size: 14px;
}
.plan_btnprofile {
    background-color: transparent;
    color: white;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
.plan_body:hover{
    opacity: 0.9;
}
.plan_btn{
    background-color: transparent;
    border: none;
    width: 100%;
    text-decoration: none;
    color:black;
}
.plan_btn:hover{
    opacity: 0.7;
}
.plan_prefecture_div{
    text-align: right;
    margin-right: 2%;
}
.plan_prefecture{
    font-size: 14px;
    color: blue;
}
.plan_likes{
    margin-top: 10px;
    margin-right: 10px;
}
.plan_prefecture_container{
    margin-right: 35px;
}
/* いいいね */
.likes_btn{
    background-color: transparent;
    border: none;  
    outline: none;
    border-radius: 60px;
    height: 30px;   
}
.likes_btn:hover{
    background-color:rgba(253, 218, 63, 0.2);
    border: none; 
}
.likes_container{
    display: flex;
    justify-content: center;
    margin-bottom: -7px;
}
.likes_p{
    margin-top: 2px;
}

/* 詳細 */
.plandetail_edit_container{
    text-align: right;
    margin-right: 10px;
}
.plandetail_delete_btn{
    background-color: transparent;
    border: none;
    outline: none;
}
.comment_input_container{
    display: flex;
    justify-content: center;
}
.comment_input_body{
    width: 480px;
    margin-top: 20px;
}
.comment_input_textfield{
    width: 400px;
    margin-left: 40px;
}
.comment_inut_btn{
    margin-top: 6px;
    text-align: right;
}


/* 画像 */
.plan_img {
    width: 400px;
    height: 200px;
    object-fit: cover; 
    border:solid 1px rgba(0,0,0,0.1);
    border-radius: 20px;
  }

.plan_image_module{
    width: 100%;
    height: 100%;
}

/* モーダル */
.image_modal{
    display: flex;
    justify-content: center; 
    
}
.image_modal_image{
    display: flex;
    justify-content: center;
    max-width: 800px;
    max-height: 800px;
}
/* プラン更新 */
/* 新規プラン */
.newplan_modal_container{
    width: 100%;
}

.newplan_modal_prefecture_menu{
    display: flex;
}
.newplan_modal_img_container{
    display: flex;
    margin-top: 10px;
}
.newplan_modal_img{
    width: 250px;
    height: 90px;
    text-align: center;
}
.newplan_modal_btn{
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 680px){
    .plan_detail_title{
        margin-top: 40px;
    }
    .plan_detail_container2{
        margin-top: 40px;
    }
    .image_modal_image{
        display: flex;
        justify-content: center;
        max-width: 480px;
        max-height: 480px;
    }
}