/* ページタイトル */
.profile_container{
    display: flex;
    justify-content: center;
}
.profile_body{
    width: 480px;
}
.profile_title{
    border:solid 1px rgba(0,0,0,0.1);
    width:478px;
    height: 40px;
    /* position: relative; */
    position: fixed;
    z-index: 1;
    background-color: white;
    
}
.title_h2{
    margin-top: 3px;
    text-align: left;
    margin-left: 10px;
}

.profileDetail{
    display: flex;
    justify-content: center;
    margin-bottom: -4px;
}
.profileDetail_container{
    width: 500px;
    border:solid 1px rgba(0,0,0,0.1);
}
.profile_container_top{
    display: flex;
    height:120px;
}
.profile_container_top_left{
    width:50%;
    display: flex;
    justify-content: center;
}
.detail_avatar{
    width: 100%;
}
.profile_avatar_img{
    margin-top: 4px;
    margin-left: 4px;
}
.profile_nickname{
   text-align: left;
   margin-top: -7px;
   margin-left: 3%;
}
.nickname_h2{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 200px;
}
.profile_container_top_right{
    width:50%;
}
.logout_btn{
    display: flex;
    margin-top: 6px;
}
.logout_btn_left{
    margin-left: 55px;
}
.logout_btn_right{
    margin-left:20px;
}
.detail_avatar_other{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
}
.profile_base{
    display: flex;
    justify-content: left;
}
.profile_base_icon{
    margin-top: 8px;
}
.profile_base_p{
    font-size: 12px;
}
.profile_description{
    text-align: left;
}
.profile_text_p{
    font-size: 14px;
    margin-left: 2px;
    max-width: 490px;
}
/* 選択 */
.profile_plan_choose{
    display: flex;
    justify-content: space-around;
}
.profile_plan_choose_btn{
    width: 33%;
    border-radius: 30px;
}
.profile_plan_choose_btn:hover{
    background-color: rgba(99, 89, 233, 0.2);
}
.plan_switch{
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}
.plan_switch_p{
    border-bottom:solid 1px rgba(99, 89, 233, 0.2);
    margin-bottom: -1px;
    color: rgba(99, 89, 233);
}
/* プラン表示部分 */
.plan_detail_container{
    display: flex;
    justify-content: center;
    margin-bottom: -4px;   
}
.plan_body{
    width: 500px;
    border:solid 1px rgba(0,0,0,0.1);
}
.plan_body_top{
    display: flex;
}
.plan_body_left{
    width:80%;
}

.plan_body_right{
    width:20%;
}
.plan_link{
    text-decoration: none;
    color:black;
}
.plan_profile{
    display: flex;
    margin-top: 5px;
    margin-left: 1%;
}
.plan_profile_nickname{
    text-align: left;
    margin-left: 1%;
}
.plan_title{
    margin-top: -15px;
    width: 100%;
    margin-left:7% ; 
}
.plan_h2{
    max-width: 380px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}
.plan_description{
    margin-top: -30px;
    text-align: left;
    margin-left: 15%;
}
.plan_description_p{
    margin-top: -10px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    max-width: 380px;
}
.plan_btnprofile {
    background-color: transparent;
    color: white;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
.plan_body:hover{
    opacity: 0.9;
}
.plan_btn{
    background-color: transparent;
    border: none;
    width: 100%;
    text-decoration: none;
    color:black;
}
.plan_btn:hover{
    opacity: 0.7;
}
.plan_prefecture_div{
    text-align: right;
    margin-right: 2%;
}
.plan_prefecture{
    font-size: 14px;
    color: blue;
}

.plan_likes{
    margin-top: 10px;
    margin-right: 10px;
}

.plan_prefecture_container{
    margin-right: 35px;
}
.likes_btn{
    background-color: transparent;
    border: none;  
    outline: none;
    border-radius: 60px;
}

.likes_btn:hover{
    background-color:rgba(253, 218, 63, 0.2);
    border: none; 
}


/* 画像 */
.plan_img {
    width: 400px;
    height: 200px;
    object-fit: cover; 
    border:solid 1px rgba(0,0,0,0.1);
    border-radius: 20px;
  }

.plan_image_module{
    width: 80%;
    height: 80%;
}

/* モーダル */
.imagetrimming_modal{
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding: 2em;
    min-width: 15em;
    max-width: 90%;
    height: 60%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    outline: transparent;
}
.overlay{
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.4);
}
.image_modal{
    display: flex;
    justify-content: center;   
}

.image_modal_image{
    display: flex;
    justify-content: center;
}

/* コメント */
.post_comments{
    justify-content: center;
    margin-left: 30%;
}
.post_comment{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    border: solid;
    width: 50%;
}
/* edit profile */
.editprofile_modal_container{
    height: 90%;
}
.editprofile_modal_top{
    display: flex;
}
.editprofile_modal_nickname{
    margin-left: 10px;
    margin-top: 19px;
}
.editprofile_modal_update_btn{
    text-align: center;
    margin-top: 50px;
}
/* 画像切り抜き */
.profile_image_icon_input{
    display: none;
}
.profile_image_top{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 680px){
    .profile_title{
        margin-top: 40px;
    }
    .profileDetail_container{
        margin-top: 40px;
    }
}
@media screen and (max-width: 500px){
    .profile_body{
        width: 100%;
    }
    .logout_btn_left{
        margin-left: 5px;
    }
    .logout_btn_right{
        margin-left:20px;
    }
    .plan_body{
        width: 100%;
        border:solid 1px rgba(0,0,0,0.1);
    }
    .plan_img {
        width: 95%;
        height: 150px;
        object-fit: cover; 
        border:solid 1px rgba(0,0,0,0.1);
        border-radius: 20px;
      }
    
    .plan_image_module{
        width: 80%;
        height: 80%;
    }
    .plan_prefecture{
        font-size: 12px;
    }
    .plan_h2{
        max-width: 85%;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }
    .plan_description{
        margin-top: -18px;
        text-align: left;
        margin-left: 20%;
    }
}