.profileDetail{
    display: flex;
    justify-content: center;
    
}

.profileDetail_container{
    width: 50%;
    border:solid;
    
}

.detail_h2{
  margin-left: 20px;  
}

.detail_avatar{
    display: flex;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;
}

.logout_btn{
    display: flex;
    justify-content: left;
    margin-left: 7px;
}

.plan_detail_container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.plan_body{
    width: 50%;
    border:solid;
}
.plan_btnprofile {
    background-color: transparent;
    color: white;
    padding-top: 3px;
    border: none;
    outline: none;
    cursor: pointer;
  }
.plan_btnprofile:hover{
    opacity: 0.7;
}
.plan_btn{
    background-color: transparent;
   border: none;
   width: 100%;
}
.plan_btn:hover{
    opacity: 0.7;
}

/* コメント */
.post_comments{
    justify-content: center;
    margin-left: 30%;
}
.post_comment{
    display: flex;
    margin-top: 15px;
    justify-content: center;
    border: solid;
    width: 50%;
}